@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 1920px;
  height: 80px;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  &_top {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1rem;
    border-radius: 0 0 50%;

    .logo {
      svg {
        display: inherit;
        width: 60px;
        height: 60px;
        //padding: 10px 9.5px 10px 10.5px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: calc(4rem - 10px);
        object-fit: cover;
        transition: 0.75s;
        background-color: #fefeff;
        border: solid 2px #f2f2f2;
        cursor: pointer;
        transform: rotate(-360deg);

        &:hover {
          margin-top: 15px;
          width: 50px;
          height: 50px;
          padding: 7px 7px 7px 7px;
          background-color: #162650;
          border: solid 2px #162650;
          transition: 0.75s;
          transform: rotate(0deg);
        }
      }
    }

    &-float {
      z-index: -1;
      width: 120px;
      height: 150px;
      position: relative;
      border-radius: 0 0 150% 35px;
      margin-left: calc(4rem - 10px);
      margin-top: -80px;

      .btn0 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        top: 45px;
        left: 29px;

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 40px;
          height: 40px;

          position: absolute;
          border-radius: 50%;
          top: 110px;
          left: 7.5px;

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }

      .btn1 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        top: 45px;
        left: 29px;

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 40px;
          height: 40px;

          position: absolute;
          border-radius: 50%;
          top: 95px;
          left: calc(50% - 20px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }

      .btn2 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        top: 45px;
        left: 29px;

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 40px;
          height: 40px;

          position: absolute;
          border-radius: 50%;
          top: 30px;
          left: calc(50% + 27.5px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }

      .btn1-2 {
        &--active {
          @include flex-center;
          width: 40px;
          height: 40px;

          position: absolute;
          border-radius: 50%;
          top: 80px;
          left: calc(50% + 0px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }

      .btn3 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        top: 45px;
        left: 29px;

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 40px;
          height: 40px;

          position: absolute;
          border-radius: 50%;
          top: 65px;
          left: calc(50% + 15px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }
    }

    a {
      @include flex-center;
      width: 100%;

      svg {
        width: 40px;
        height: 40px;
        padding: 4px 4px 10px 2px;
      }
    }
  }

  &_bottom {
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 1rem 1rem;
    border-radius: 25px 25px 0 0;


    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 1080px;
      margin: 0 auto;

      .logo {
        width: 60px;
        height: 60px;
        padding: 10px;
        background-color: white;
        border-radius: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -20px;

        svg {
          width: 90%;
          border-radius: 5px;
          transition: 0.75s;
          cursor: pointer;
          transform: rotate(-360deg);

          &:hover {
            padding: 2px 2px 4px 2px;
            transition: 0.75s;
            transform: rotate(0deg);
          }
        }
      }
    }

    &-float {
      width: 200px;
      height: 100px;
      border-radius: 50px;
      z-index: -1;
      margin-top: -100px;
      margin-left: calc(50% - 100px);
      position: relative;

      .btn1 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        bottom: 25px;
        left: calc(50% - 10px);

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 50px;
          height: 50px;

          position: absolute;
          border-radius: 50%;
          bottom: 60px;
          left: calc(50% - 80px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }

      .btn2 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        bottom: 25px;
        left: calc(50% - 10px);

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 50px;
          height: 50px;

          position: absolute;
          border-radius: 50%;
          bottom: 85px;
          left: calc(50% - 25px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }

      .btn3 {
        @include flex-center;
        width: 5px;
        height: 5px;

        position: absolute;
        border-radius: 5px;
        bottom: 25px;
        left: calc(50% - 10px);

        transition: 0.5s;
        transform: rotate(-360deg);
        background-color: #162650;

        &--active {
          @include flex-center;
          width: 50px;
          height: 50px;

          position: absolute;
          border-radius: 50%;
          bottom: 60px;
          left: calc(50% - -30px);

          transition: 0.5s;
          transform: rotate(0deg);
          border: solid 2px #f2f2f2;
          background-color: #fefeff;
        }
      }
    }

    a,
    button {
      @include flex-center;
      width: 100%;

      svg {
        width: 30px;

        &:hover {
          width: 33px;
        }
      }
    }
  }

  .icon-z {
    z-index: 1;
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .bg-white {
    transition: 0.75s;
    width: 200px;
    height: 150px;
    width: 165px;
    height: 150px;
    border-radius: 0 5px 150% 5px;
    background-color: #ffffff4b;
    animation-name: opacity;
    animation-duration: 1s;
    backdrop-filter: blur(50px);
  }
}

.interaction_logo {
  svg {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
    cursor: pointer;
    transform: rotate(-360deg);

    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    &:hover {
      width: 45px;
      height: 45px;
      padding: 8px;
      border-radius: 50%;
      background-color: #162650;
      box-shadow: 0 0 5px #162650;
      transition: 1s;
      transform: rotate(0deg);
      animation-name: none;
    }
  }
}

.tooltip {
  z-index: 1;
  padding: 2.5px 5px !important;
  background-color: #fff !important;
  box-shadow: 0 0 4px white;
  font-size: 1.420rem !important;
  color: #fefefe !important;
  backdrop-filter: blur(10px) !important;
}

.tooltip-menu {
  padding: 25px 5px 0 50px !important;
  background-color: #fff !important;
  box-shadow: 0 0 4px white;
  font-size: 1.420rem !important;
  color: #fefefe !important;
  backdrop-filter: blur(10px) !important;
}

@keyframes pulse {
  from {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 0px 4px #162640);
  }

  to {
    width: 45px;
  }
}